body{
	background-color: #f0f0f2;
	color:#000;
	font-family: Arial, Helvetica, sens-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin:0;

}


/*OBLIKA HEADER*/

#main-header{
	background-color: #515ea6;
	color:#fff;
	width: 100%;
}

#main-header a{
	color: white;
	text-decoration: none;

}
.top-header{
	width: 80%
	margin:auto;
	overflow: hidden;
}

.top-header img{
	margin: 10px;
	float: left;
}

.top-header h1{
	text-align: center; 
}

/*OBLIKA NAVIGACIJA*/

.top-navbar{
	background-color: #bfbfbf;
}

.top-navbar::after{
	content: "";
	display: table;
	clear: both;
}

.top-navbar ul{
	list-style: none;
	margin: 0;
}

.top-navbar > ul > li{
	float: left;
	position: relative;
}

.top-navbar ul li a{
	text-decoration: none;
	color: #fff;
	padding: 15px 20px;
	display: block;

}
.top-navbar ul li:hover a{
	background: #34495a;
}

.top-navbar ul ul{
	position: absolute;
	padding: 0;
	min-width: 160px;
	display: none;
	top:100%;
	left: 0;
}

.top-navbar ul li:hover> ul{
	display: block;
}

.top-navbar ul ul li:hover a{
	background: #262626;
}

.top-navbar ul ul li{
	position: relative;
}

.top-navbar ul ul ul{
	top:0;
	left: 100%;
}
.top-navbar ul ul ul li:hover a{
	background: #34495a;
}


/*OBLIKA FOOTER*/
#main-footer{
	background: #bfbfbf;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;

}

